body {
    background: #e48cff;
}
#navbar-icon {
    border-color: #4a008f;
    border-width: .1em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

#main-navbar .nav-link {
    font-weight: 150;
    color: #4a008f;
}

#main-navbar .nav-link:hover {
    font-weight: 400;
    color: #c71778;
}


#title {
    color:#c71778;
    margin-right: .2em;
    font-weight: 200;
}

.titles {
    font-weight: 100;
}

.titles span {
    color: #c71778;
    font-weight: normal;
}

.main-text {
    background-color: #ff9dcb;
    color: #4a008f;
    font-weight: 200;
    padding: 3em;
}

.navbar.scrolled {
    background: #e48cff;
    transition: background 500ms;
}

