body {
    background: #fae9ff;
}
#navbar-icon {
    border-color: #4a008f;
    border-width: .1em;
    color: #4a008f;
}

.custom-toggler .navbar-toggler {
    border-color: #4a008f;
}

#main-navbar .nav-link {
    font-weight: 150;
    color: #4a008f;
}



#main-navbar .nav-link:hover {
    font-weight: 400;
    color: #c71778;
}


.main-logo {
    height: 6em;
}

.titles {
    font-weight: 100;
    color: #4a008f;
}

.titles span {
    color: #c71778;
    font-weight: normal;
}

.main-text {
    background-color: #fae9ff;
    color: #4a008f;
    font-weight: 200;
    padding: 3em;
}

.navbar.scrolled {
    background: #fae9ff;
    box-shadow: 5px 0px 5px black;
    transition: 500ms;
}

.gallery{
    padding-top: 100px;
    padding-bottom: 32px;
    color: #4a008f;
}

.galleryHeading {
    font-weight: 200;
}

.galleryHeading span {
    font-weight: normal;
    color: #c71778;
}

.galleryRow {
    padding-left: 48px;
    padding-right: 48px;
}

.card {
    display: flex;
    flex: 2;
    min-width: 250px;
    flex-grow: 1;
    margin: 10px;
    box-shadow: 5px 5px 10px rgb(56, 56, 56);
}

.card a {
    text-decoration: none;
    color: #000000;
}

.card a:hover {
    transition: 100ms;
}

.sandwich {
    width: 22px;
    fill: #4a008f;
}

.downIcon {
    width: 20px
}

.heartIcon {
    width: 30px;
}

.heartLink {
    border: 2px solid black; 
    padding: 8px;
    border-radius: 150px;
    display: flex;
    justify-content: right;
    width: 50px;
}

.heartLink:hover {
    background-color: black;

}

.heartIcon:hover {
    fill: white;
    display: flex; 
    justify-content: right;
}



.text-white {
    margin-top: 100px;
    margin-bottom: 50px;
}