body {
    background: #fae9ff;
}
#navbar-icon {
    border-color: #4a008f;
    border-width: .1em;
}

.custom-toggler .navbar-toggler {
    border-color: #4a008f;
}

#main-navbar .nav-link {
    font-weight: 150;
    color: #4a008f;
}

.custom-toggler .navbar-toggler-icon { 
    background-image: url(“data:image/svg+xml;charset=utf8, %3Csvg viewBox=’0 0 32 32′ xmlns=’http://www.w3.org/2000/svg’%3E%3Cpath stroke=’rgba(0, 128, 0, 0.8)’ stroke-width=’2′ stroke-linecap=’round’ stroke-miterlimit=’10’ d=’M4 8h24M4 16h24M4 24h24’/%3E%3C/svg%3E”); 
}

#main-navbar .nav-link:hover {
    font-weight: 400;
    color: #c71778;
}


.main-logo {
    height: 6em;
}

.titles {
    font-weight: 100;
}

.titles span {
    color: #c71778;
    font-weight: normal;
}

.main-text {
    background-color: #ff9dcb;
    color: #4a008f;
    font-weight: 200;
    padding: 3em;
}

.navbar.scrolled {
    background: black;
    transition: background 500ms;
}

.gallery{
    padding-top: 100px;
    padding-bottom: 32px;
    color: white;
}

.galleryHeading {
    font-weight: 200;
}

.galleryHeading span {
    font-weight: normal;
    color: #c71778;
}

.galleryRow {
    padding-left: 48px;
    padding-right: 48px;
}

.card {
    display: flex;
    flex: 2;
    min-width: 250px;
    flex-grow: 1;
    margin: 10px;
    box-shadow: 5px 5px 10px rgb(56, 56, 56);
}

.card a {
    text-decoration: none;
    color: #000000;
    border: 3px solid #000000;
    padding: 5px;
    border-radius: 10px;
}

.card a:hover {
    box-shadow: 2px 2px 6px rgb(56, 56, 56);
    transition: 100ms;
}